@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Hepta Slab', serif;
  color: black;
  background-color: white;
}

*::selection {
  background-color: #f9dd82;
  color: black;
  text-shadow: none;
}

.no-text-shadow {
  text-shadow: none;
}

.image-container {
  position: relative;
  min-height: 110vh;
}

.social-logos {
  fill: black;
}

.font-display {
  font-family: 'Bitter', serif;
}

.styled-link {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgb(253 224 71);
  text-decoration-thickness: 2px;
}

.styled-link:hover {
  text-decoration-color: rgb(250 204 21);
}
