---
import Layout from '../layouts/Layout.astro'
import backgroundImageDesktop from '../assets/background-desktop.webp'
import backgroundImageMobile from '../assets/background-mobile.webp'
import backgroundImageTablet from '../assets/background-tablet.webp'
import Social from '../components/Social.astro'
---

<Layout title="Welcome to Astro.">
  <div class="image-container">
    <picture class="">
      <source media="(max-width: 480px)" srcset={backgroundImageMobile.src} />
      <source
        media="(max-width: 1024px)"
        srcset={backgroundImageTablet.src}
        class="bg-image"
      />
      <img
        src={backgroundImageDesktop.src}
        alt="Man sitting on ledge"
        class="bg-image"
      />
    </picture>
    <div class="horizontal-scrim invisible xl:visible"></div>
    <div class="vertical-scrim xl:invisible"></div>
    <div
      class="absolute top-0 left-0
      w-full
      px-6 pt-24
      about-me-container
      sm:h-auto
      tracking-wide contain-content"
    >
      <div
        class="text-5xl sm:text-6xl pb-8 font-display font-extrabold leading-tight sm:leading-tight max-w-screen-lg"
      >
        Hi, I'm Miki Pokryvailo
      </div>
      <div class="text-lg sm:text-xl sm:leading-loose max-w-screen-sm">
        I'm a software engineer based in NYC, focused on backend/infra and
        product. I love early stage problems and startups, where I'm often the
        person that finds and ships the weird ideas.
      </div>
    </div>
  </div>
  <div
    class="about-me-body flex flex-col items-start bg-white text-black no-text-shadow py-6 sm:pb-6 pb-10"
  >
    <div class="py-10 px-6 sm:px-32 about-me-main-content">
      <div class="text-3xl sm:text-4xl font-display font-bold">
        More about me
      </div>
      <div
        class="my-8 text-base sm:text-lg about-me-body leading-loose sm:leading-loose max-w-screen-sm"
      >
        Most recently, I was the first hire at <a
          href="https://thenile.dev"
          target="_blank">Nile</a
        >. I built a lot of our initial product, and when we pivoted to a
        tenant-aware database, I built our SQL parsing framework, helped define
        the SDK experience, wrote an <a
          href="https://news.ycombinator.com/item?id=32241820"
          target="_blank">HN-viral blog</a
        > about row-level security, and more.
        <br />
        <br />
        Before Nile, I worked at Confluent and MadHive on API infra.
        <br />
        <br />
        Outside of work, I'm a home-renowned chef 👨‍🍳 and salsa dancer 💃.
        <br />
        <br />
        You can reach me at
        <a href="mailto:mpokryva@gmail.com"> mpokryva@gmail.com</a>.
      </div>
    </div>
  </div>
  <div class="bg-white social-logos flex justify-center pb-8">
    <Social />
  </div>
</Layout>

<style>
  body {
    -webkit-font-smoothing: antialiased;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Soft shadow for readability */
    text-rendering: optimizeLegibility;
    font-family: 'Hepta Slab', serif;
    color: #fff;
    background-color: white;
  }

  & *::selection {
    background-color: var(--accent-color);
    color: black;
  }

  .no-text-shadow {
    text-shadow: none;
  }

  .image-container {
    position: relative;
  }

  .image-container .horizontal-scrim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0)
    );
    pointer-events: none; /* Allows clicks to pass through to the image if needed */
  }

  .social-logos {
    fill: black;
  }

  .image-container .vertical-scrim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    );
    pointer-events: none; /* Allows clicks to pass through to the image if needed */
  }

  :root {
    --accent-color: #f9dd82;
  }

  a {
    color: black;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 20%;
    text-decoration-skip-ink: none;
  }

  .container {
    max-width: 100%;
  }

  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-image {
    min-height: 110vh;
    object-fit: cover; /* Ensures the image covers the entire container */
    object-position: center; /* Center the image */
  }

  @media (min-width: 640px) {
    .about-me-container {
      padding-left: 7vw;
      padding-top: 30vh;
    }
  }
</style>
