---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import backgroundImage from '../assets/me-background.webp';
---

<Layout title="Welcome to Astro.">
    <div class="relative h-screen w-screen">
        <Image src={backgroundImage} alt="background of me" class="absolute inset-0 object-cover w-full h-full" />
        <div class="absolute inset-0 flex items-center justify-center">
            <div class="text-white text-6xl font-bold">
                Hi, I'm Miki Pokryvailo
            </div>
        </div>
    </div>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
</style>
