---
import Layout from '../layouts/Layout.astro'
import backgroundImageDesktop from '../assets/background-desktop.png'
import backgroundImageMobile from '../assets/background-mobile-upscaled-short.png'
import backgroundImageTablet from '../assets/background-tablet.png'
import Social from '../components/Social.astro'
---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Hepta+Slab:wght@1..900&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Hepta+Slab:wght@1..900&family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Figtree:ital,wght@0,300..900;1,300..900&family=Hepta+Slab:wght@1..900&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Hepta+Slab:wght@1..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Asap:ital,wght@0,100..900;1,100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Hepta+Slab:wght@1..900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&family=Unbounded:wght@200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Georama:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Wix+Madefor+Display:wght@400..800&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
  rel="stylesheet"
/>
<Layout title="Welcome to Astro.">
  <div class="image-container">
    <picture class="">
      <source media="(max-width: 480px)" srcset={backgroundImageMobile.src} />
      <source
        media="(max-width: 1024px)"
        srcset={backgroundImageTablet.src}
        class="bg-image"
      />
      <img src={backgroundImageDesktop.src} alt="" class="bg-image" />
    </picture>
    <div class="horizontal-scrim invisible xl:visible"></div>
    <div class="vertical-scrim xl:invisible"></div>
    <div
      class="absolute top-0 left-0
      w-full about-me-container
      px-6 sm:px-32
      pt-24 sm:pt-72
      sm:h-auto
      tracking-wide contain-content break-words"
    >
      <div
        class="text-5xl sm:text-6xl pb-8 about-me-title leading-tight sm:leading-tight max-w-screen-lg"
      >
        Hi, I'm Miki Pokryvailo
      </div>
      <div
        class="text-lg sm:text-xl about-me-heading sm:leading-loose max-w-screen-sm"
      >
        I’m a software engineer based in NYC, focused on backend/infra and
        product. I love early stage problems and startups, where I’m often the
        person that finds and ships the weird (but good!) ideas.
      </div>
    </div>
  </div>
  <div class="about-me-body bg-white text-black no-text-shadow py-6">
    <div class="py-10 px-6 sm:px-32 about-me-main-content">
      <div class="text-3xl sm:text-4xl font-bold">More about me</div>
      <div class="my-8 text-lg about-me-body leading-loose max-w-screen-lg">
        Most recently, I was the first hire at <a
          href="https://thenile.dev"
          target="_blank">Nile</a
        >. I built a lot of our initial product, and when we pivoted to a
        tenant-aware database, I built our SQL parsing framework, helped define
        the SDK experience, wrote an <a
          href="https://news.ycombinator.com/item?id=32241820"
          target="_blank">HN-viral blog</a
        > about row-level security, and more.
        <br />
        <br />
        Before Nile, I worked at Confluent and MadHive on API infra.
        <br />
        <br />
        Outside of work, I’m a home-renowned chef 👨‍🍳 and salsa dancer 💃.
        <br />
        <br />
        You can reach me at
        <a href="mailto:mpokryva@gmail.com"> mpokryva@gmail.com</a>.
      </div>
    </div>
    <div class="social-logos flex justify-center xl:justify-end xl:pr-6">
      <Social />
    </div>
  </div>
</Layout>

<!-- TODO: Extract this into TW classes -->
<style>
  body {
    -webkit-font-smoothing: antialiased;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Soft shadow for readability */
    text-rendering: optimizeLegibility;
    font-family: 'Hepta Slab', serif;
    color: #fff;
  }

  & *::selection {
    background-color: var(--secondary-color);
    color: black;
  }

  .no-text-shadow {
    text-shadow: none;
  }

  .about-me-title {
    /* Uncomment one font at a time to experiment */
    font-weight: 830;
    //color: #fff285;
    font-family: 'bitter', serif;
    //font-family: 'Work Sans', sans-serif;
  }

  .image-container {
    position: relative;
  }

  .image-container img {
    display: block;
    width: 100%; /* Adjust according to your needs */
    height: 100%; /* Adjust according to your needs */
  }

  .image-container .horizontal-scrim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0)
    );
    pointer-events: none; /* Allows clicks to pass through to the image if needed */
  }

  .social-logos {
    fill: black;
  }

  .image-container .vertical-scrim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    );
    pointer-events: none; /* Allows clicks to pass through to the image if needed */
  }

  :root {
    --primary-color: #ff7340;
    --secondary-color: #f9dd82;
  }

  a {
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: underline;
  }

  .container {
    max-width: 100%;
  }

  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bg-image {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    object-fit: cover; /* Ensures the image covers the entire container */
    object-position: center; /* Center the image */
  }
</style>
