---
import linkedInLogo from '../assets/linkedin-logo.svg?raw'
import githubLogo from '../assets/github-logo.svg?raw'
---

<div class="flex space-x-4 items-center">
  <div>
    <a
      href="https://linkedin.com/in/miki-pokryvailo/"
      target="_blank"
      class="rounded-md social-icon"
    >
      <Fragment set:html={linkedInLogo} />
    </a>
  </div>
  <div>
    <a
      href="https://github.com/mpokryva"
      target="_blank"
      class="rounded-full social-icon"
    >
      <Fragment set:html={githubLogo} />
    </a>
  </div>
</div>

<style>
  .social-icon {
    display: inline-block;
    padding: 0.375rem; /* Padding to ensure background is visible */
    transition: background-color 0.2s ease; /* Smooth transition for background color */
  }

  .social-icon {
    fill: black;
    height: 3.5rem;
    width: 3.5rem;
  }

  .social-icon:hover {
    background-color: rgba(
      0,
      0,
      0,
      0.1
    ); /* Light gray background with slight transparency */
  }
</style>
