---
interface Props {
  title: string
}
import favicon from '../assets/favicon.webp'

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Miki Pokryvailo's personal website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href={favicon.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700;800&family=Hepta+Slab:wght@400;500&display=swap"
      rel="preload"
      as="style"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700;800&family=Hepta+Slab:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
